.App {
  text-align: center;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
  font-size: 14px;
}

a.nav-anchor {
  color: white;
  text-decoration: none;
}